DATABASE_URL=postgres://postgres:dev@localhost:5432/tasks
SUPABASE_URL=https://ydvyftyclyizkgklotmo.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkdnlmdHljbHlpemtna2xvdG1vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3NDQ3NTMsImV4cCI6MjEwMzMyMDc1M30.O2h9RmdaUN8vfb4iFd5oqUSqa8mLSJ5shKaDXArDrgw
PORT=3000